.modal-residente-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal-residente-contenido {
  background: linear-gradient(
    #bdbdbd,
    #7a7a7a
  ); /* mismo fondo que el de paquetes */
  padding: 25px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.modal-residente-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #3e3e3e;
  padding: 10px 16px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.modal-residente-header h2 {
  font-size: 17px;
  margin: 0;
}

.modal-residente-cerrar-btn {
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.formulario-residente label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}

.formulario-residente input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #eee;
}

.boton-residente {
  margin-top: 20px;
  padding: 10px;
  width: 40%;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  background-color: black;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.boton-residente:hover {
  background-color: red;
}

// Modal de entrega de paquetes
.entrega {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100001;
  display: flex;
  flex-direction: column;
  .content_entrega {
    background-color: rgb(173, 171, 171);
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    .encabezado_entrega {
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px white;
      background-color: black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px;
      margin-bottom: 10px;
      .entrega__titulo {
        width: 80%;
        color: white;
      }
      button {
        background-color: transparent;
        color: #fff;
        font-size: 30px;
        border: none;
      }
    }

    .entrega__tabla {
      .entrega__th {
        padding: 10px 16px;
        background-color: #757474;
        color: #fff;
        border-bottom: 2px solid black;
        text-align: left;
        font-size: 20px;
      }
      .entrega__td {
        padding: 8px 14px;
        background-color: #f5f5f5a8;
        color: #222;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        border: 2px solid gray;
        button {
          border-radius: 10px;
          padding: 5px;
          font-weight: bold;
          background-color: red;
          color: white;
        }
      }
    }
  }
}
.entrega::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
